dir "/data"
port {{sentinel_port + services[service]['port_offset']}}
requirepass {{secrets[service]['password']}}
sentinel deny-scripts-reconfig yes
sentinel monitor default {{instances['srv1']}} {{redis_port + services[service]['port_offset']}} 2
sentinel down-after-milliseconds default 5000
sentinel parallel-syncs default 2
sentinel auth-pass default {{secrets[service]['password']}}
sentinel failover-timeout default 6000
